body {
  background-color: #282c34;
  margin: 0;
  font-family: "CARTOON FREE", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.cdnfonts.com/css/cartoon-free");

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem; /* Adjusted gap */
  justify-items: center;
}

.pokemon-circle {
  background-color: rgb(12, 79, 110);
  color: black;
  border: #00a59d solid 10px;
  border-radius: 50%; /* Changed to 50% for a perfect circle */
  width: 200px; /* Set a fixed width for each circle */
  height: 200px; /* Set a fixed height for each circle */
  display: flex;
  flex-direction: column; /* Adjusted to column to display name underneath */
  align-items: center;
  justify-content: center; /* Center vertically */
  text-align: center;
  font-size: 50%;
  margin: 1rem; /* Added margin */
  padding: 1rem; /* Added padding */
}

.pokemon-circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
